{% extends 'base.html' %}
{% load app_tags %}
{% block head %}
<title>Games | Gameit</title>
{% endblock %}
{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-white-500 mb-6">Игры в тренде: </h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-2 items-start">
        {% for game in games %}<!--can put max-w-[280px] for cards to be bigger-->
        <a href="/games/{{ game.site_url_name }}" class="block">
            <div
                class="max-w-[400px] w-full bg-slate-900 rounded-l border border-slate-200 hover:shadow-md hover:-translate-y-1 transition duration-200 flex flex-col justify-between p-5">
                <div class="flex flex-col w-full mb-3 ">
                    <img class="w-full h-auto rounded-lg object-cover flex-shrink-0 border border-slate-700/50 bg-slate-700 mb-3"
                        src="{{ game.icon.url }}"
                        alt="Minecraft">
                    <div class="flex flex-col space-y-1 w-full text-center leading-tight">
                        <h5 class="text-2xl font-bold text-white break-words">{{ game.name }}</h5>
                        <div class="flex items-center justify-center text-xl font-semibold ">
                            <span class="{{ game.rating|rating_color }}">  
                                <span
                                    class="ml-1 inline-flex h-[14px] w-[14px] items-center justify-center">
                                    {% include "icons/star.svg" %}
                                </span>  
                                {{ game.rating }}
                            </span>
                            <span class="inline-flex items-center text-slate-500 ml-1">
                                / 10
                            </span>
                        </div>
                    </div>
                    
                </div>
                <p class="text-sm text-gray-300  break-words leading-relaxed text-center">
                    {{ game.short_description }}
                </p>
            </div>
        </a>
        {% endfor %}
    </div>
    <p class="text-xl p-4">
            Нет вашей игры?
            <a class="text-blue-400 text-xl hover:text-blue-600 transition" href="{% if user.is_authenticated %}/games/add {% else %} login {% endif %}">Добавьте ее.</a>
        </p>
</div>
{% endblock %}