{% extends 'base.html' %}
{% block head %}
<title>Вход | Gameit</title>
{% endblock %}
{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">Вход в аккаунт</h2>
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form method="POST" class="space-y-6">
        {% csrf_token %}
      <div>
        <label for="email" class="block text-sm/6 font-medium text-gray-100">Никнейм</label>
        <div class="mt-2">
            {{reg_form.username}}
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm/6 font-medium text-gray-100">Пароль</label>
          <div class="text-sm">
            <!--<a href="#" class="font-semibold text-sky-400 hover:text-sky-300">Forgot password?</a>-->
            <!-- will be implemented later ig-->
          </div>
        </div>
        <div class="mt-2">
            {{reg_form.password}}
        </div>
      </div>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-sky-600 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-sky-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-500">Войти</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm/6 text-gray-400">
      Или вы можете
      <a href="register" class="font-semibold text-sky-400 hover:text-sky-300">создать аккаунт</a>
    </p>
  </div>
</div>
{% endblock %}